---
import MainLayout from "../layouts/main.astro";
---

<MainLayout content={{ title: "pipefold.io" }}>
  <div class="font-mono">
    <div>pipefold</div>
  </div>
  <div>
    <a href="/portfolio" class="p-4 underline">Portfolio</a>
    <a href="/resume" class="p-4 underline">Resume</a>
  </div>
</MainLayout>
