---
import { Font } from "astro:assets";
import "../styles/global.css";
import { ModeToggle } from "@/components/ui/ModeToggle";
const { content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>

    <!-- Load the fonts -->
    <Font cssVariable="--font-montserrat" />
    <Font cssVariable="--font-eb-garamond" />
    <Font cssVariable="--font-inconsolata" />
  </head>
  <body>
    <div class="fixed top-4 right-4 z-50 print:hidden">
      <ModeToggle client:only />
    </div>
    <slot />
  </body>
</html>
